html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  position: relative;
}
.bg-darken {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.bg-pattern {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('/images/pattern-bg.png') top left repeat fixed transparent;
}

.thumbnail {
  margin-bottom: 100px;
}

.thumbnail > .img {
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-bottom: solid 2px #ecf0f1;
}

.thumbnail > .img > img {
  width: 100%;
  height: auto;
}
