html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  position: relative;
}
.bg-darken {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.bg-pattern {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('/images/pattern-bg.png') top left repeat fixed transparent;
}

.thumbnail {
  margin-bottom: 100px;
}

.thumbnail > .img {
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-bottom: solid 2px #ecf0f1;
}

.thumbnail > .img img {
  width: 100%;
  height: auto;
}

a.image-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 3;
  font-size: 46px;
  vertical-align: middle;
  text-align: center;
  margin-top: 92px;
  color: #fff;
  opacity: 0.9;
}

.thumbnail > .img {
  position: relative;
}

.thumbnail .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  display: none;
  z-index: 2;
  /*cursor: pointer;*/
}

.price {
  font-size: 1.5em;
}

/*.thumbnail .overlay:before {
  font-family: "FontAwesome";
  content: '\f00e';
  font-size: 46px;
  color: #fff;
  display: inline-block;
  top: 50%;
  margin-top: -23px;
  width: 100%;
  text-align: center;
  position: absolute;
  opacity: 0.9;
}*/