<nav class="navbar navbar-default">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if page.active_menu == "themes" %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
          <a href="index.html"><i class="fa fa-code"></i> THEMES</a>
        </li>
        {% if page.active_menu == "faq" %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
          <a href="faq.html"><i class="fa fa-question-circle"></i> FAQ</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>